/* ************* */
/* GLOBAL STYLES */
/* ************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #232323;
    --mine-shaft: #363738;
    --porcelain: #F1F2F3;
    --off-white: #FCFCFD;
    --white: #FFFFFF;
    --main-green: #28EEA7;
}

body {
    font-family: "Noto Sans Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--mine-shaft);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    font-weight: 900;
}

section {
    height: 80vh;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 80px 20px 80px;

}

.dark {
    color: var(--mine-shaft);
}

.light {
    color: var(--off-white);
}

/* ************ */
/* HERO SECTION */
/* ************ */

.hero-section {
    height: 100vh;
    display: flex;
}

.hero-section .left-hero {
    flex: 0 1 50vw;
    background-image: url('../images/other/hero-left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.green-overlay {
    height: 100%;
    width: 100%;
    background-color:rgba(40, 238, 167, 0.9);
}

.hero-section .right-hero {
    flex: 0 1 50vw;
    background-image: url('../images/other/hero-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.black-overlay {
    height: 100%;
    width: 100%;
    background-color:rgba(40, 40, 40, 0.7);
}

@media screen and (max-width: 992px) {
    .hero-section {
        flex-direction: column;
    }
}


/* ******************* */
/* LIGHT HEADING STYLE */
/* ******************* */

.section-heading-light {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.section-heading-light h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--mine-shaft);
}

.section-heading-light h2 span {
    color: var(--main-green);
    font-size: 36px;
    margin-right: 10px;
}


.three-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}

.black-dot {
    background: var(--mine-shaft);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.white-dot {
    background: #d1d1d1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.green-dot {
    background: var(--main-green);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}


/* ******************* */
/* HELLO WORLD SECTION */
/* ******************* */

.hello-world {
    background-color: var(--porcelain);
    height: auto;
    padding-bottom: 30px;
}

.youtube-video {
    height: 700px;
    min-height: 400px;
    background: var(--main-green);
    padding: 15px;
    border-radius: 20px;
}

/* ****************** */
/* MILESTONES SECTION */
/* ****************** */

.milestones-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.milestones-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-rate {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 70px;
    background-color: var(--porcelain);
    border-radius: 12px;
}

.success-rate-number {
    font-size: 120px;
    font-weight: 900;
}

.success-rate-title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.success-rate-details {
    font-size: 13px;
}