/* ************* */
/* GLOBAL STYLES */
/* ************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #232323;
    --mine-shaft: #363738;
    --porcelain: #F1F2F3;
    --off-white: #FCFCFD;
    --white: #FFFFFF;
    --main-green: #28EEA7;
}

body {
    font-family: "Noto Sans Mono", sans-serif;
}

a {
    text-decoration: none;
}

.dark {
    color: var(--off-white);
}

.light {
    color: var(--mine-shaft);
}

/* ************ */
/* HERO SECTION */
/* ************ */

.hero-section {
    height: 100vh;
    display: flex;
}

.hero-section .left-hero {
    flex: 0 1 50vw;
    background-image: url('../images/other/hero-left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.green-overlay {
    height: 100%;
    width: 100%;
    background-color:rgba(40, 238, 167, 0.9);
}

.hero-section .right-hero {
    flex: 0 1 50vw;
    background-image: url('../images/other/hero-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.black-overlay {
    height: 100%;
    width: 100%;
    background-color:rgba(40, 40, 40, 0.7);
}

@media screen and (max-width: 992px) {
    .hero-section {
        flex-direction: column;
    }
}