/* ************* */
/* GLOBAL STYLES */
/* ************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #232323;
    --mine-shaft: #363738;
    --silver-chalice: #A5A6A9;
    --porcelain: #F1F2F3;
    --off-white: #FCFCFD;
    --white: #FFFFFF;
    --main-green: #28EEA7;
}

body {
    font-family: "Noto Sans Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--mine-shaft);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    font-weight: 900;
}

section:not(.hero-section) {
    padding: 25px 0;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 40px 20px 40px;
    width: 90%;
}

.dark {
    color: var(--mine-shaft);
}

.light {
    color: var(--off-white);
}

/* ************ */
/* HERO SECTION */
/* ************ */

header {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 40px 20px 40px;
    width: 90%;
    position: absolute;
    top: 50px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header .header-menu {
    padding: 5px 5px 0 5px;
    border-radius: 10px;
    background-color: var(--mine-shaft);
}

/* ************ */
/* HERO SECTION */
/* ************ */

.hero-section {
    height: 100vh;
    display: flex;
}

.hero-section .left-hero {
    flex: 0 1 50vw;
    background-image: url('../images/other/hero-left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.green-overlay {
    height: 100%;
    width: 100%;
    background-color:rgba(40, 238, 167, 0.9);
}

.hero-section .right-hero {
    flex: 0 1 50vw;
    background-image: url('../images/other/hero-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.black-overlay {
    height: 100%;
    width: 100%;
    background-color:rgba(40, 40, 40, 0.7);
}

@media screen and (max-width: 992px) {
    .hero-section {
        flex-direction: column;
    }
}


/* ******************* */
/* LIGHT HEADING STYLE */
/* ******************* */

.section-heading-light {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.section-heading-light h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--mine-shaft);
}

.section-heading-light h2 span {
    color: var(--main-green);
    font-size: 36px;
    margin-right: 10px;
}


.three-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}

.white-dot {
    background: var(--off-white);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.off-white-dot {
    background: #d1d1d1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.gray-dot {
    background: var(--silver-chalice);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.black-dot {
    background: var(--mine-shaft);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.green-dot {
    background: var(--main-green);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

/* ******************* */
/* DARK HEADING STYLE */
/* ******************* */

.section-heading-dark {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.section-heading-dark h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--off-white);
    background-color: var(--mine-shaft);
    padding: 0 10px;

}

.section-heading-dark h2 span {
    color: var(--main-green);
    font-size: 36px;
    margin-right: 10px;
}

/* ******************* */
/* HELLO WORLD SECTION */
/* ******************* */

.hello-world {
    background-color: var(--porcelain);
    height: auto;
    padding-bottom: 30px;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    background: var(--main-green);
    padding: 15px;
    border-radius: 20px;
}

.youtube-video iframe {
    height: 100%;
    width: 100%;
}

/* ****************** */
/* MILESTONES SECTION */
/* ****************** */


.milestones-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    min-height: 400px;
    width: 100%;
}

.milestones-left {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.success-rate {
    width: 100%;
    height: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 70px;
    margin: 10px;
    background-color: var(--porcelain);
    border-radius: 20px;
}

.success-rate-number {
    font-size: 120px;
    font-weight: 900;
}

.success-rate-title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.success-rate-details {
    font-size: 13px;
}

.milestones-right {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.milestones-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

.milestones-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    flex: 0.5 0.5 40%;
    background-color: var(--porcelain);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

.milestones-number {
    font-size: 60px;
    font-weight: 900;
}

/* **************** */
/* PROGRAMS SECTION */
/* **************** */

.programs {
    background-color: var(--main-green);
}

.programs-tabs {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.programs-tabs div {
    font-weight: 900;
    padding: 20px 50px;
}

.programs-tabs .selected {
    color: var(--main-green);
    background-color: var(--mine-shaft);
    border-radius: 12px 12px 0 0;
}

.programs-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 380px;
    width: 100%;
    background-color: var(--mine-shaft);
    border-radius: 20px;
}